.gl-mt-3.container-fluid{ class: content_class }
  = render Pajamas::AlertComponent.new(variant: alert_variant,
    dismissible: true,
    title: alert_title,
    alert_options: { class: 'js-namespace-storage-alert',
                    data: { feature_id: callout_feature_name,
                            dismiss_endpoint: alert_callout_path,
                            group_id: root_namespace_id,
                            defer_links: "true" }}) do |c|
    - c.with_body do
      = sprite_icon(alert_icon, css_class: "gl-icon gl-alert-icon")

      - alert_message.each do |paragraph|
        %p
          = paragraph

    - if purchase_link || usage_quotas_link
      - c.with_actions do
        - if purchase_link
          = link_to(_('Purchase more storage'), purchase_link, class: "btn gl-alert-action btn-md gl-button btn-confirm")
        - if usage_quotas_link
          = link_to(_('View usage details'), usage_quotas_link, class: "btn gl-alert-action btn-md gl-button btn-default")
